
.main-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* background-color: rgb(184, 126, 126); */
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    /* background-color: yellow; */
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 50px;
    /* background-color: blue; */
    width: 250px;
}
.image{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.chat-section{
    display: flex;
    /* background-color: black; */
    height: 93vh;
    width: 100%;
}
.users-section{
    display: flex;
    flex-direction: column;
    box-shadow:10px 0 7px -5px rgb(189, 188, 188);
    /* background-color: black; */
    width: 400px;
    height: 100%;
}
.user-search{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgb(250, 245, 245);
}
.userSearchInput{
    width: 80%;
    margin: 50px 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow:  0 2px 2px rgb(189, 188, 188);
}
